{% block penopolistirol %}
{% load static %}
    <div class="shop_extra-def">
        <h1 class="content_slider-title">Что такое пенополистирол?</h1>
        <p class="content_company-text" align="justify">Широко популярный материал пенополистирол активно применяется на строительных объектах, 
        а также при ремонтных процессах в жилых сооружениях и постройках хозяйственного назначения. 
        Сравнивая пенополистирол с другими вариантами утеплителей, нужно отметить, что это сырье имеет
        достаточно много положительных сторон, хотя и незначительные минусы присутствуют. 
        При разработке пенополистирола используется методика вспенивания полимера газообразным 
        пентаном. Состав пенополистирола - это доля твердого вещества не более 2,0%, а остальные 
        98,0% приходятся на мелкие полистироловые камеры с воздухом внутри.</p> 
    </div>
    <div class="shop_extra-info">
        <h1 class="content_slider-title">Свойства и характеристики материала</h1>
        <div class="shop_extra-advantages">
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/eco.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Экологичный</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/clock.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Долговечный</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/fireproof.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Пожаростойкий</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/leather.svg' %}" class="shop_extra-items_image" alt="" style="width: 120px">
                </div>
                <p class="content_advantages-text">Легкий</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/sound.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Звукоизолирующий</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/temp.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Низкая теплопроводность</p>
            </div>
            <div class="shop_extra-items">
                <div class="shop_extra-items-image_block">
                    <img src="{% static 'images/waterproof.svg' %}" class="shop_extra-items_image" alt="">
                </div>
                <p class="content_advantages-text">Влагостойкость</p>
            </div>
        </div>
    </div>
    {% endblock %}