{% block content %}
{% load static %}
<div class="content">
    <div class="content_sandwitch">
        <h1 class="content_slider-title">
            Фасадный декор
        </h1>
        <div class="content_sandwitch-fasad_items">
            {% for fasad in decor %}
            <a href="{{ fasad.link }}">
                    <div class="content_sandwitch-fasad_item">
                        <img src="{% static fasad.image %}" class="content-fasad_image" alt="">
                        <p class="content_slider-text">{{ fasad.name }}</p>
                    </div>
            </a>
            {% endfor %}
        </div>
        <p class="content_company-text" align="justify">Декоративные элементы из пенополистирола все чаще можно встретить на фасадах и в интерьере зданий. Легкий материал, из которого можно выполнять изделия самых разных конфигураций, позволяет создавать интересный декор при небольших финансовых и временных затратах.             В нашей компании вы можете заказать разнообразные архитектурные элементы любой сложности. Ассортимент включает большой выбор готовых изделий. Также производится декор по индивидуальным проектам на заказ. У нас работают опытные талантливые дизайнеры, которые предлагают оригинальные проекты элементов, имитирующих лепнину. Уникальные дизайнерские разработки позволяют создавать композиции, придающие помещению или зданию индивидуальность.</p>
        <h1 class="content_slider-title"></h1>
    </div>
</div>
{% endblock %}