{% block content %}
{% load static %}
<div class="content">
    <div class="content_navigator">
        <div class="content_navigator-inner">
            <p class="nav_item nav_margin-cart">СЭНДВИЧ-ПАНЕЛИ</p>
        </div>
    </div>

    <div class="content_sandwitch">
        <h1 class="content_slider-title">Что такое сэндвич-панели?</h1>
        <p class="content_sandwitch-text">Вы можете у нас купить сэндвич-панели в Москве по лучшим ценам оптом и в розницу , которые являются высокотехнологичным материалом с отличными эксплуатационными характеристиками. Они могут применяться как для строительства зданий, так и для их реконструкции. Сэндвич-панель – это трехслойная конструкция из теплоизоляционного материала внутри (чаще всего используют пенополистирол или минеральную вату) и двух листов качественной профилированной стали снаружи. Для защиты от коррозии применяются современные полимерные покрытия различных цветов.</p>
        <br>
        <p class="content_sandwitch-text">Область применения панелей достаточно велика: быстровозводимые торговые комплексы и павильоны, магазины, промышленные здания, склады, холодильные камеры, а также объекты промышленного, жилого и социального назначений. Это объясняется невысокой стоимостью, эстетичным внешним видом и практичностью в применении. Как стройматериал, сэндвич-панели наиболее оптимальны: они обеспечивают высокую степень теплоизоляции и позволяют выполнять монтаж быстро и качественно. Их рекомендуется использовать в решении задач строительства, где необходим невысокий вес конструкции, а ее толщина позволяет обеспечить требуемые характеристики по тепло- и звукоизоляции. Производство трехслойных сэндвич-панелей выполняется на современном оборудовании и под постоянным контролем каждого этапа производства, что обеспечивает высокое качество продукции.</p>
        <h1 class="content_slider-title">Выбор цветов</h1>
        <div class="content_sandwitch-colors">
            {% for color in palets %}
            <div class="content_sandwitch-color" style="background: {{ color.color }}"><p class="color-text">{{ color.name }}</p></div>
            {% endfor %}
        </div>
        <p class="content_sandwitch-text" style="margin-top: 20px">* Возможно изготовление других цветов</p>
    </div>
</div>
{% endblock %}