{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СтройПенопласт - Магазин</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'shop.css' %}">
</head>
<body>
    <!-- include parts -->
    {% include 'header.html' %}
    {% include 'nav.html' %}
    {% include 'footer.html' %}
    {% include 'shop_content.html' %}
    
    <!-- header -->
    {% block header %}
    {% endblock %}

    <!-- nav -->
    {% block nav %}
    {% endblock %}

    <!-- content -->
    {% block content %}
    {% endblock %}

    

    <!-- footer -->
    {% block footer %}    
    {% endblock footer %}
    {% csrf_token %}
    <script src="{% static 'scripts/header.js' %}"></script>
    <script src="{% static 'shop.js' %}"></script>
</body>
</html>