@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
    width: 90%;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
    width: 90%;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1090px) and (orientation: landscape) {
  header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
    width: 90%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
    width: 90%;
  }
}

@media only screen and (min-device-width: 1090px) and (max-device-width: 1700px) {
  header, .head_content, .nav_content, .footer_content, .shop_title, .shop_filter, .shop_body, .shop_extra-def, .shop_extra-info {
    width: 1200px;
  }
}

.head_content, .nav_content, .shop_body-item .shop_body-item_content .shop_body-item_btns, .shop_body-item .shop_body-item_content .shop_body-item_amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_cart-inner_title-name, .nav_mobile-item #nav_slide {
  display: flex;
  justify-content: start;
  align-items: center;
}

.order_call, .nav_cart-inner_name, .nav_cart-inner_title-amount, .nav_cart-inner_amount, .nav_cart, .nav_cart-to_cart, .head_cart, .footer_social div, .shop_push-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head_number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nav_cart-inner_title-price, .nav_cart-inner_price, .nav_cart-all {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_items_cart, .footer_item-small {
  font-size: 0.75em;
}

.nav_item, .nav_item-div, .nav_price, .footer_item, .footer_text, .shop_filter-item, .shop_body-item_tocart {
  font-size: 0.875em;
}

.nav_cart-inner, .nav_cart-all_title, .nav_cart-all_text, .footer_title, .shop_title h1, .shop_body-item .shop_body-item_content h1, .shop_body-item .shop_body-item_content .shop_body-item_price, .shop_body-item .shop_body-item_content .shop_body-item_amount p {
  font-size: 1em;
}

.content_slider-title {
  font-weight: 600;
  font-size: 2.25em;
  z-index: 100;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .content_slider-title {
    font-size: 30px;
    height: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .head_left {
    display: none;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .head_left {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .head_left {
    display: none;
  }
}

.nav_cart, .head_cart {
  height: 30px;
  width: 30px;
  background-image: url("../../images/header/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.head_phone, .footer_phone {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.footer_right {
  display: flex;
  justify-items: end;
  align-items: flex-end;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.content {
  width: 100%;
  padding: 140px 0px 320px 0px;
  box-sizing: border-box;
  position: relative;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .content {
    padding: 90px 0px 320px 0px;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .content {
    padding: 90px 0px 320px 0px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .content {
    padding: 90px 0px 320px 0px;
  }
}

.footer_content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.shop_body-item .shop_body-item_img, .shop_body-item .shop_body-item_content {
  width: 100%;
  height: 50%;
}

.shop_body-item .shop_body-item_content h1, .shop_body-item .shop_body-item_content .shop_body-item_price-title, .shop_body-item .shop_body-item_content .shop_body-item_price {
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #660033;
}

header {
  width: 100%;
  height: 90px;
  background-color: #8D4953;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.head_burger {
  width: 20px;
  display: none;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .head_burger {
    display: block;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .head_burger {
    display: block;
    width: 25px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .head_burger {
    display: block;
  }
}

.head_left {
  height: 45px;
  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .head_left {
    display: none;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .head_left {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .head_left {
    display: none;
  }
}

.order_call {
  padding: 10px 22px 10px 22px;
  box-sizing: border-box;
  background: #FFFFFF;
  font-weight: 600;
  font-size: 100%;
  color: #65343C;
  cursor: pointer;
  margin-left: 25px;
}

@media only screen and (min-device-width: 1090px) and (max-device-width: 1700px) {
  .order_call {
    font-size: 87.5%;
  }
}

.head_working_hours {
  font-weight: 400;
  font-size: 87.5%;
  color: #FFFFFF;
}

nav {
  background-color: #65343C;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 90px;
  left: 0px;
  z-index: 100;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  nav {
    display: none;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  nav {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  nav {
    display: none;
  }
}

.nav_left, .nav_right {
  display: flex;
  align-items: center;
  position: relative;
}

.nav_cart-inner {
  opacity: 0;
  color: #65343C;
  padding: 15px;
  box-sizing: border-box;
  background-color: #F3F3F3;
  position: absolute;
  right: 0;
  max-height: 385px;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
}

.nav_cart-inner_title, .nav_cart-inner_item {
  width: 355px;
  display: flex;
  margin-bottom: 10px;
}

.nav_cart-inner_title {
  font-weight: 600;
}

.nav_cart-inner_item {
  box-sizing: border-box;
  padding: 20px 5px;
  background: #F9F6F6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
}

.nav_cart-inner_title-name, .nav_cart-inner_name {
  margin-left: 10px;
  width: 150px;
}

.nav_cart-inner_name {
  height: 60px;
  width: 150px;
}

.nav_cart-inner_name p {
  width: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.nav_cart-inner_title-amount, .nav_cart-inner_amount, .nav_cart-inner_title-price, .nav_cart-inner_price {
  margin-left: 10px;
  width: 85px;
}

.nav_cart-inner_amount {
  height: 60px;
}

.nav_cart-inner_title-price {
  margin-right: 10px;
}

.nav_cart-inner_price {
  height: 60px;
  margin-right: 10px;
}

.nav-div {
  display: flex;
  position: relative;
  align-items: center;
}

.nav-prodiction_dropdown {
  display: none;
  opacity: 0;
  padding: 15px;
  box-sizing: border-box;
  background: #F3F3F3;
  position: absolute;
  z-index: 103;
  bottom: -285px;
  left: -15px;
  height: 285px;
  width: 250px;
  color: #65343C;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.nav-prodiction_dropdown li {
  margin-bottom: 12px;
  transition: .5s;
}

.nav-prodiction_dropdown li a {
  color: #660033;
}

.nav-production_arrow {
  margin-left: 4px;
}

.nav_item, .nav_item-div {
  margin-right: 45px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.nav_item:hover {
  opacity: .5;
}

.nav_price {
  margin-right: 15px;
  color: #fff;
}

.nav_cart {
  background-image: url("images/header/cart.svg");
}

.nav_cart-all {
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}

.nav_cart-all_title {
  font-weight: 600;
}

.nav_cart-all_text {
  margin-left: 20px;
}

.nav_cart-to_cart {
  padding: 10px 0px;
  width: 60%;
  margin: 20px auto;
  border: 2px solid rgba(101, 52, 60, 0.5);
  box-sizing: border-box;
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .head_logo {
    width: 150px;
  }
}

.head_cart {
  background-image: url("images/header/cart.svg");
  display: none;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .head_cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .head_cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .head_cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav_items_cart {
  margin-top: 4px;
  color: #fff;
}

.mobile_nav {
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(141, 73, 83, 0.8);
  transition: opacity 2s ease-in-out;
}

.mobile_nav-content {
  width: 90%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 8px 15px;
  position: absolute;
  transition: left .5s ease-in-out;
}

.nav_mobile-item {
  font-weight: 400;
  font-size: 12px;
  width: 80%;
  padding: 7px 0px;
  font-size: 100%;
  color: #65343C;
  border-bottom: 0.5px solid rgba(153, 51, 51, 0.4);
}

.nav_mobile-item #nav_slide p {
  padding-bottom: 0;
}

.nav_mobile-item .nav_slide-arrow {
  margin-left: 10px;
  width: 10px;
  rotate: 90deg;
  transition: rotate .5s ease-in-out;
}

.nav_mobile-item p {
  transition: .2s;
  border-bottom: 0px solid rgba(153, 51, 51, 0.2);
  padding-bottom: 3px;
}

.nav_mobile-item ul {
  height: 0;
  opacity: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: height .5s ease-in-out, opacity .2s ease-in-out;
}

.nav_mobile-item ul li {
  font-size: 87.5%;
  margin-top: 3px;
  border-bottom: 0.5px solid rgba(153, 51, 51, 0.2);
  padding-bottom: 3px;
}

.nav_mobile-exit {
  position: absolute;
  top: 15px;
  right: 15px;
}

.mobile_link {
  display: none;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .mobile_link {
    display: block;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .mobile_link {
    display: block;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .mobile_link {
    display: block;
  }
}

#nav_dropdown {
  background-color: rgba(141, 73, 83, 0.2);
  padding: 15px;
  display: none;
  opacity: 0;
  height: 0;
}

footer {
  width: 100%;
  height: 320px;
  background-color: #8D4953;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.footer_content {
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_content {
    display: block;
  }
}

.footer_left {
  display: flex;
}

.footer_phone {
  margin-top: 12px;
}

.footer_item {
  margin-top: 4px;
  color: #fff;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .footer_item {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_item {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1090px) and (orientation: landscape) {
  .footer_item {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .footer_item {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 1090px) and (max-device-width: 1700px) {
  .footer_item {
    font-size: 0.75em;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .mobile-hide {
    display: none;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1024px) and (orientation: landscape) {
  .mobile-hide {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .mobile-portait-hide {
    display: none;
  }
}

.footer_item-small {
  margin-top: 16px;
  color: #fff;
}

.footer_menu {
  margin-left: 85px;
}

.footer_title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer_text {
  margin-top: 5px;
  color: #fff;
  max-width: 240px;
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .footer_text {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_text {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1024px) and (orientation: landscape) {
  .footer_text {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer_text {
    font-size: 0.75em;
  }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1700px) {
  .footer_text {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_right {
    margin-top: 20px;
  }
}

.footer_social {
  display: flex;
}

.footer_social div {
  height: 38px;
  width: 38px;
  margin-left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_social div {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 899px) and (orientation: portrait) {
  .footer_logo {
    width: 150px;
  }
}

html, body, p {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:visited, a:link {
  text-decoration: none;
  color: #660033;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

input {
  border: 0px solid black;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 1 !important;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  opacity: 1;
  -webkit-opacity: 1;
  -khtml-opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.shop_title {
  display: flex;
  padding: 10px 0px 0 0;
  box-sizing: border-box;
}

.shop_title h1 {
  font-weight: 500;
  color: #65343C;
  border-bottom: 2px solid #65343C;
}

.shop_title img {
  margin-left: 12px;
}

.shop_filter {
  display: flex;
  flex-wrap: wrap;
}

.shop_filter-item {
  margin-left: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  background: rgba(141, 73, 83, 0.1);
  font-weight: 400;
  color: #993333;
  transition: .5s;
  cursor: pointer;
  margin-top: 3px;
}

.shop_filter-item:hover {
  background: rgba(141, 73, 83, 0.2);
  color: #993333;
}

.item-active {
  color: #ffffff;
  background: rgba(141, 73, 83, 0.8);
}

.shop_body {
  box-sizing: border-box;
  padding: 0 0 40px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body {
    max-width: 350px;
  }
}

.shop_body-item {
  margin-right: 26px;
  margin-top: 26px;
  width: 240px;
  height: 280px;
  background: rgba(141, 73, 83, 0.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  overflow: hidden;
}

.shop_body-item .shop_body-item_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop_body-item .shop_body-item_content {
  box-sizing: border-box;
  padding: 5px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-device-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content {
    padding: 5px 10px 10px 10px;
  }
}

.shop_body-item .shop_body-item_content h1 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content h1 {
    font-size: 18px;
  }
}

.shop_body-item .shop_body-item_content .shop_body-item_price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop_body-item .shop_body-item_content .shop_body-item_price {
  font-weight: 400;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content .shop_body-item_price {
    font-size: 18px;
  }
}

.shop_body-item .shop_body-item_content .shop_body-item_btns {
  width: 100%;
}

.shop_body-item .shop_body-item_content .shop_body-item_amount {
  width: 48px;
  height: 22px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
  border-radius: 36px;
  box-sizing: border-box;
  padding: 0 5px;
  position: relative;
}

.shop_body-item .shop_body-item_content .shop_body-item_amount p {
  font-weight: 500;
  color: rgba(153, 51, 51, 0.8);
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content .shop_body-item_amount p {
    font-size: 18px;
  }
}

.shop_body-item .shop_body-item_content .shop_body-item_amount img {
  cursor: pointer;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content .shop_body-item_amount img {
    width: 10px;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item .shop_body-item_content .shop_body-item_amount {
    width: 80px;
    height: 35px;
    padding: 0px 10px;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .shop_body-item {
    width: 210px;
    height: 290px;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item {
    margin: 30px auto 0 auto;
    width: 70%;
    height: 320px;
    border-radius: 20px;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 1090px) and (max-device-width: 1700px) {
  .shop_body-item {
    width: 272px;
    height: 290px;
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1090px) and (orientation: landscape) {
  .shop_body-item {
    width: 200px;
    height: 290px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_body-item {
    margin: 30px 20px 0 0;
    width: 200px;
    height: 290px;
  }
}

.shop_body-item_amount-amount {
  color: #65343C;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item_amount-amount {
    font-size: 18px;
  }
}

.shop_body-item_tocart {
  background: rgba(141, 73, 83, 0.75);
  height: 100%;
  box-sizing: border-box;
  padding: 3px 20px;
  font-weight: 400;
  color: #FFFFFF;
  transition: .5s;
  cursor: pointer;
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .shop_body-item_tocart {
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  .shop_body-item_tocart {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.shop_body-item_tocart:hover {
  opacity: .8;
}

.item_plus, .item_minus {
  width: 40%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}

.item_plus {
  right: 0;
}

.item_minus {
  left: 0;
}

.shop_push {
  position: fixed;
  height: 60px;
  width: 470px;
  border-radius: 27px;
  bottom: 20px;
  left: 50%;
  margin-left: -235px;
  z-index: 10000;
  font-weight: 400;
  font-size: 18px;
  background: #EBD6D6;
  color: #660033;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.shop_push-text, .shop_push-proccess {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shop_push-text {
  z-index: 10002;
}

.shop_push-proccess {
  z-index: 10001;
  background: #FAF4F4;
  border-radius: 27px;
  transition: all 3s ease-in-out;
}

.shop_modal-wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background: rgba(141, 73, 83, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  opacity: 0;
}

.shop_modal {
  position: relative;
  width: 1100px;
  height: auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  display: none;
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1090px) and (orientation: landscape) {
  .shop_modal {
    width: 80%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_modal {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal {
    width: 90%;
    padding: 20px;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .shop_modal {
    width: 90%;
    padding: 20px;
  }
}

.shop_modal-top {
  display: flex;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_modal-top {
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal-top {
    flex-direction: column;
  }
}

.modal_image {
  width: 40%;
  object-fit: cover;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .modal_image {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .modal_image {
    width: 100%;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .modal_image {
    display: none;
  }
}

.shop_modal-top-info {
  width: 60%;
  height: 350px;
  box-sizing: border-box;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_modal-top-info {
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal-top-info {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .shop_modal-top-info {
    width: 100%;
    padding: 0;
    height: 280px;
  }
}

.shop_modal-name {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: #660033;
  margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_modal-name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal-name {
    font-size: 20px;
  }
}

.shop_modal-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px dashed rgba(102, 0, 51, 0.2);
}

.shop_modal-option_name, .shop_modal-option_value {
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: #660033;
  margin: 0;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal-option_name, .shop_modal-option_value {
    font-size: 16px;
  }
}

.shop_modal-option_name {
  font-weight: 500;
}

.shop_modal-option_value {
  font-weight: 400;
  text-align: right;
}

.shop_modal-close {
  width: 30px;
  position: absolute;
  right: -50px;
  top: 0px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .shop_modal-close {
    right: 0px;
    top: -30px;
    width: 20px;
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .shop_modal-close {
    width: 100%;
    padding: 0;
    height: 280px;
  }
}

.shop_modal-wrapper.entering {
  animation: appearing .2s forwards linear;
}

.shop_modal-wrapper.exiting {
  animation: disappearing .2s forwards linear;
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappearing {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.content_slider-title {
  font-size: 24px;
  color: #65343C;
  margin-bottom: 20px;
}

.content_company-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: #65343C;
  line-height: 150%;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .content_company-text {
    font-size: 16px;
  }
}

.shop_extra-advantages {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .shop_extra-advantages {
    grid-template-columns: repeat(2, 2fr);
  }
}

@media only screen and (max-device-width: 899px) and (orientation: landscape) {
  .shop_extra-advantages {
    grid-template-columns: repeat(3, 2fr);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1090px) and (orientation: portrait) {
  .shop_extra-advantages {
    grid-template-columns: repeat(4, 2fr);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1279px) {
  .shop_extra-advantages {
    grid-template-columns: repeat(5, 2fr);
  }
}

.modal_preloader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: relative;
  animation: modal-rotating 1s infinite linear;
}

.modal_preloader-inner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -5px;
}

@keyframes modal-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shop_extra-items_image {
  width: 100px;
}

.shop_extra-items-image_block {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(141, 73, 83, 0.05);
}

.content_advantages-text {
  margin-top: 7px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(101, 52, 60, 0.8);
}
/*# sourceMappingURL=shop.css.map */