{% block nav %}
{% load static %}
<div class="mobile_nav">
    <div class="mobile_nav-content">
        <a href="/" class="link_nav"><p class="nav_mobile-item">ГЛАВНАЯ</p></a>        
        <div class="nav_mobile-item">
            <div id="nav_slide"><p>ПРОДУКЦИЯ</p> <img src="{% static 'images/header/arrow_down_purp.svg' %}" alt="" class="nav_slide-arrow"></div>
            <ul id="nav_dropdown">
                <li><a href="/shop/penopolistirol">ПЕНОПОЛИСТИРОЛ</a></li>
                <li><a href="/shop/opalubka">НЕСЪЕМНАЯ ОПАЛУБКА</a></li>
                <li><a href="/shop/granula">ГРАНУЛЫ ПЕНОПОЛИСТИРОЛА</a></li>
                <li><a href="/shop/politerm">ПОЛИТЕРМ</a></li>
                <li><a href="/shop/sandwitch">СЭНДВИЧ-ПАНЕЛИ</a></li>
                <li><a href="/shop/decor">ФАСАДНЫЙ ДЕКОР</a></li>
                <li><a href="/shop/floor_backing">ПОДЛОЖКА ДЛЯ ТЕПЛОГО ПОЛА</a></li>
            </ul>
        </div>      
        <a href="/#about_company" class="link_nav"><p class="nav_mobile-item">О КОМПАНИИ</p></a>
        <a href="/#contacts" class="link_nav"><p class="nav_mobile-item">КОНТАКТЫ</p></a>     
        <img src="{% static 'images/header/cross.svg' %}" alt="" class="nav_mobile-exit"> 
    </div>
</div>   



<nav data-cart="{% if cart_empty %}empty{% endif %}" >
    <div class="nav_content">
        <div class="nav_left">
            <a href="/"><p class="nav_item">ГЛАВНАЯ</p></a>
            <div class="nav_item-div nav-div">
                <ul class="nav-prodiction_dropdown">
                    <li><a href="/shop/penopolistirol">ПЕНОПОЛИСТИРОЛ</a></li>
                    <li><a href="/shop/opalubka">НЕСЪЕМНАЯ ОПАЛУБКА</a></li>
                    <li><a href="/shop/granula">ГРАНУЛЫ ПЕНОПОЛИСТИРОЛА</a></li>
                    <li><a href="/shop/politerm">ПОЛИТЕРМ</a></li>
                    <li><a href="/shop/sandwitch">СЭНДВИЧ-ПАНЕЛИ</a></li>
                    <li><a href="/shop/decor">ФАСАДНЫЙ ДЕКОР</a></li>
                    <li><a href="/shop/floor_backing">ПОДЛОЖКА ДЛЯ ТЕПЛОГО ПОЛА</a></li>
                </ul>
                <p class="menu_production">ПРОДУКЦИЯ</p>
                <img src="{% static 'images/header/arrow_down.svg' %}" alt="" class="nav-production_arrow">
            </div>
            <a href="/#about_company"><p class="nav_item">О КОМПАНИИ</p></a>
            <a href="/#contacts"><p class="nav_item">КОНТАКТЫ</p></a>
        </div>
        {% if page != 'cart' %}
        <div class="nav_right" style="cursor: pointer;">
            <p class="nav_price">{% if cart_empty %}0{% else %}{{total_price}}{%endif%} ₽</p>
            <div class="nav_cart">
                <p class="nav_items_cart" id = 'cart_amount'>{% if cart_empty %}0{% elif total_amount > 100 %}99{% else %}{{total_amount}}{%endif%}</p>
            </div>
            {% if not cart_empty %}
            <div class="nav_cart-inner" data-close="{% if cart_empty %}True{%else%}Fase{%endif%}">
                <div class="nav_cart-inner_title" > 
                    <div class="nav_cart-inner_title-name">Название</div>    
                    <div class="nav_cart-inner_title-amount">Кол-во</div>    
                    <div class="nav_cart-inner_title-price">Цена</div>    
                </div>

                <div class="nav_items">
                    {% for cart_item in cart_items %}
                    <div class="nav_cart-inner_item">  
                        <div class="nav_cart-inner_name"><p>{{cart_item.product_name}}</p></div>    
                        <div class="nav_cart-inner_amount">{{ cart_item.amount }}</div>    
                        <div class="nav_cart-inner_price">{{cart_item.price}} ₽</div>    
                    </div>
                    {% endfor %}
                </div>
                    
                <div class="nav_cart-all" style="{% if cart_empty %}opacity:0{%endif%}">
                    <p class="nav_cart-all_title">Итого:</p>
                    <p class="nav_cart-all_text">{{total_price}} ₽</p>
                </div>
                <a href="/cart">
                    <div class="nav_cart-to_cart" style="{% if cart_empty %}opacity:0{%endif%}">
                        <p class="nav_cart-all_title">ОФОРМИТЬ ЗАКАЗ</p>
                    </div>
                </a>
            </div>
            {% endif %}
        </div>  
        <!-- </a>         -->
        {% endif %}
    </div>
</nav>
{% endblock nav %}