.content_navigator {
    border-top: 2px solid #845D63;
    background-color: #65343C;
    width: 100%;
    height: 50px;
}

.content_navigator-inner {
    @extend %width;
    @extend %flex-start-center;
    img {
        rotate: -90deg;
        margin: 0 10px;
    }
}

.nav_margin-active {
    border-bottom: 1px solid #fff;
}

.nav_margin-cart {
    margin: 0;
    cursor: default;
    @media only screen and (max-width : 700px) and (orientation : portrait) {
        font-size: 12px;
    }
    @media only screen and (max-width : 320px) and (orientation : portrait) {
        font-size: 11px;
    }
}

.content_sandwitch {
    @extend %width;
    padding: 20px 0 40px 0;
}

.content_sandwitch-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #660033;
}

.content_slider-title {
    @extend %title;
    color: #65343C;
    margin-bottom: 20px;
}

.content_sandwitch-colors {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content_sandwitch-color {
    @extend %flex-center-center;
    width: 18%;
    height: 100px;
    margin: 1% 1% 0 0;
    border: 1px dashed rgba(141, 73, 83, 0.2);
    @media only screen and (max-width : 700px) and (orientation : portrait) {
        width: 46%;
        margin: 2% 2% 0 0;
    }
    @media only screen and (max-device-width : 899px) and (orientation : landscape) {
        width: 30%;
        margin: 2% 2% 0 0;
    }
    @media only screen  and (min-device-width : 768px) and (max-device-width : 1090px) and (orientation : portrait) {
        width: 30%;
        margin: 2% 2% 0 0;
    }
}

.color-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #660033;
}

.content_sandwitch-fasad_items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
}

.content_sandwitch-fasad_item {
    width: 210px;
    height: 210px;
    margin-top: 16px;
    margin-right: 16px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;

    @media only screen and (max-device-width : 899px) and (orientation : landscape) {
        width: 30%;
        margin-right: 3%;
        margin-top: 3%;
    }
    
    // Smartphones (portrait)
    @media only screen and (max-width : 700px) and (orientation : portrait) {
        width: 48%;
        margin-right: 2%;
        margin-top: 2%;
    }

}
.content_slider-text {
    font-style: normal;
    font-weight: 600;
    color: #8D4953;
    text-align: center;
}

.content-fasad_image {
    width: 80%;
}